{% extends "base.html" %}
{% from "pagination.html" import render_pagination %}
{% block title %}
<center><h3>{{ tagName }}-相关列表</h3></center>
<hr class="colorgraph"/>
{% endblock title %}

{% block content %}
{% if paginate.items %}
<div id="blog" class="stream-list blog-stream">
{% for post in posts %}
<section class="stream-list__item">
<!--    <div class="blog-rank">
        <div class="votes">
            0<small>推荐</small>
        </div>
        <div class="views hidden-xs">
            30<small>浏览</small>
        </div>
    </div>
-->

<div class="summary">
<h2 class="title"><a href="{{ url_for('pages.post_get',path=post.location ) }}">{{ post.title }}</a></h2>
                                   
        <p class="excerpt wordbreak hidden-xs">
        {{ post.summary }}
        ...</p>
        <ul class="author list-inline">
                        <li> 
                <a href="#">
                   <!-- <img class="avatar-20 mr10 hidden-xs" src=""> -->
                   {{ post.meta.author }}
                </a>
                发布于 <span class="split"></span>{{ post.meta.modifyAt }}
            </li>
        </ul>
    </div>
</section>
{% endfor %}
<div class="text-center">
{{ render_pagination(paginate,endpoint='pages.postlistByTag',args={'tagName':tagName}) }}
</div>
</div>
{% else %}
<p>很遗憾，没有相关文章</p>
{% endif %}
{% endblock content %}