Flask==0.11.1
Werkzeug==0.11.11
Jinja2==2.8
SQLAlchemy==1.1.2
celery==3.1.23
Flask-sqlalchemy==2.1
flask-babel==0.11.1
Flask-Script==2.0.5
Flask-Migrate==2.0.0
Flask-WTF==0.13.1
flask-login==0.3.2
flask-restful==0.3.5
Flask-cache==0.13.1
Flask-Testing==0.6.1 
flask-Principal==0.4.0
Flask-Security==1.7.5
Flask-Mail==0.9.1
Flask-Moment==0.5.1
Flask-bootstrap==3.3.7
passlib==1.6.5
itsdangerous==0.24
WTForms==2.1
simplejson==3.9.0
beautifulsoup4==4.4.0
requests==2.11.1
scrapy==1.2
alembic==0.8.8